<!DOCTYPE html>
<html lang="ru">
	<head>
{% block head %}
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	
		<title>{% block page_title %}{% endblock %} - Legion JW</title>
	
		<!-- coded by kapxapot / gmail / com (c) 2016 -->
	
		<!-- Bootstrap core CSS -->
		<link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	
	    <!-- Custom styles for this template -->
		<link href="/codiad/workspace/jw/public/jw.css" rel="stylesheet">
	
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	    
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
{% endblock %}
	</head>
	<body ng-app="myApp" ng-controller="myCtrl">
		<div class="container">
{% include "components/nav.twig" %}
			<h4>{% block title %}{% endblock %}</h4>

{% include "components/flash.twig" %}

{% block content %}{% endblock %}

			<script>
				var app = angular.module('myApp', [{% block angular_modules %}{% endblock %}]);
				app.controller('myCtrl', ['$scope', '$http', function($scope, $http) {
{% block angular %}{% endblock %}
				}]);
			</script>

			<div class="footer">&copy; 2016—{{ 'now'|date('Y') }} <a href="http://about.me/kapxapot">kapxapot</a></div>
		</div>
{% block js %}
    	<script src="/lib/bootstrap/js/bootstrap.min.js"></script>
{% endblock %}
	</body>
</html>
